<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/angular.js/1.4.5/angular.min.js"></script>
	<title>表格相关</title>

	<style>
		body {
			font-family: arial;
		}
		
		table {
			border: 1px solid #ccc;
			width: 100%;
			margin: 0;
			padding: 0;
			border-collapse: collapse;
			border-spacing: 0;
		}
		
		table tr {
			border: 1px solid #ddd;
			padding: 5px;
		}
		
		table th,
		table td {
			padding: 10px;
			text-align: center;
		}
		
		table th {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 1px;
		}
		
		@media screen and (max-width: 600px) {
			table {
				border: 0;
			}
			table thead {
				display: none;
			}
			table tr {
				margin-bottom: 10px;
				display: block;
				border-bottom: 2px solid #ddd;
			}
			table td {
				display: block;
				text-align: right;
				font-size: 13px;
				border-bottom: 1px dotted #ccc;
			}
			table td:last-child {
				border-bottom: 0;
			}
			table td:before {
				content: attr(data-label);
				float: left;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	</style>
</head>

<body ng-app="demo">

	<h3>表格的基本操作</h3>

	<div ng-controller="CartCtrl">
		<button class="btn btn-default" ng-click="append()">添加到最后</button>
		<button class="btn btn-default" ng-click="prepend()">加到前面</button>
		<button class="btn btn-default" ng-click="sort()">排序</button>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>名称</th>
					<th>单价</th>
					<th>购买数量</th>
					<th>价格</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in goods">
					<td data-label="名称">{{item.name}}</td>
					<td data-label="单价">{{item.price}}</td>
					<td data-label="购买数量">{{item.count}}</td>
					<td data-label="价格">{{item.count * item.price}}元</td>
					<td data-label="操作">
						<button class="btn btn-sm btn-warning" ng-click="remove(item)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr/>

	<h3>复杂一些的表格</h3>

	<div ng-controller="CartCtrl">
		<button class="btn btn-default" ng-click="append()">添加到最后</button>
		<button class="btn btn-default" ng-click="prepend()">加到前面</button>
		<button class="btn btn-default" ng-click="sort()">排序</button>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>名称</th>
					<th>单价</th>
					<th>购买数量</th>
					<th>价格</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="item in goods">
					<td data-label="名称">
						<button class="btn btn-xs btn-default" ng-click="item.$expand=!item.$expand" ng-class="{'dropdown-toggle':!item.$expand, 'dropup':item.$expand}">
							<span class="caret"></span>
						</button>
						{{item.name}}
					</td>
					<td data-label="单价">{{item.price}}</td>
					<td data-label="购买数量">
						{{item.count}}
						<button class="btn btn-xs btn-info" ng-click="increase(item)">增加</button>
						<button class="btn btn-xs btn-info" ng-click="decrease(item)">减少</button>
					</td>
					<td data-label="价格">{{item.count * item.price}}元</td>
					<td data-label="操作">
						<button class="btn btn-sm btn-warning" ng-click="remove(item)">删除</button>
					</td>
				</tr>
				<tr ng-repeat-end ng-show="item.$expand">
					<td colspan="5">{{item.description}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						总价为{{total()}}元
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<hr/>

	<h3>包含选中功能的表格</h3>

	<div ng-controller="CartCtrl">
		<button class="btn btn-default" ng-click="append()">添加到最后</button>
		<button class="btn btn-default" ng-click="sort()">排序</button>

		<button class="btn btn-default" ng-disabled="!someChecked()">支付</button>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						<input type="checkbox" ng-model="$allChecked" ng-change="checkAll()" />
					</th>
					<th>名称</th>
					<th>单价</th>
					<th>购买数量</th>
					<th>价格</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in goods">
					<th>
						<input type="checkbox" ng-model="item.$checked" ng-change="checkItem(item)" />
					</th>
					<td data-label="名称">
						{{item.name}}
					</td>
					<td data-label="单价">{{item.price}}</td>
					<td data-label="购买数量">
						{{item.count}}
						<button class="btn btn-xs btn-info" ng-click="increase(item)">增加</button>
						<button class="btn btn-xs btn-info" ng-click="decrease(item)">减少</button>
					</td>
					<td data-label="价格">{{item.count * item.price}}元</td>
					<td data-label="操作">
						<button class="btn btn-sm btn-warning" ng-click="remove(item)">删除</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
						总价为{{total()}}元，选中的商品总价为{{totalToPay()}}元
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<hr/>

	<h3>动态编辑</h3>

	<div ng-controller="CartCtrl">
		<button class="btn btn-default" ng-click="append()">添加到最后</button>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>名称</th>
					<th>单价</th>
					<th>购买数量</th>
					<th>价格</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in goods">
					<td data-label="名称">
						<span ng-if="!item.$editing">{{item.name}}</span>
						<input ng-model="item.name" ng-if="item.$editing" />
					</td>
					<td data-label="单价">{{item.price}}</td>
					<td data-label="购买数量">{{item.count}}</td>
					<td data-label="价格">{{item.count * item.price}}元</td>
					<td data-label="操作">
						<button class="btn btn-sm btn-warning" ng-if="!item.$editing" ng-click="item.$editing=true">修改</button>
						<button class="btn btn-sm btn-primary" ng-if="item.$editing" ng-click="item.$editing=false">保存</button>
						<button class="btn btn-sm btn-warning" ng-click="remove(item)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<script>
		angular.module("demo", [])
			.controller("CartCtrl", ["$scope", function ($scope) {
				$scope.goods = [
					{name: "苹果🍎", price: 5, count: 1, description: "亚当和夏娃"},
					{name: "橙子🍊", price: 3, count: 2, description: "富含维生素C"},
					{name: "香蕉🍌", price: 4, count: 1, description: "猴子最爱"}
				];

				$scope.append = function () {
					$scope.goods.push({
						name: "小狗🐶" + $scope.goods.length,
						price: 5+Math.ceil(Math.random()*20),
						count: 1, 
						description: "人类的好朋友"
					});
				};

				$scope.prepend = function () {
					$scope.goods.unshift({
						name: "🌲" + $scope.goods.length,
						price: 10+Math.ceil(Math.random()*10),
						count: 2, 
						description: "铃儿响叮当"
					});
				};

				$scope.sort = function () {
					$scope.goods.sort(function (a, b) {
						return a.price - b.price;
					});
				};

				$scope.increase = function (item) {
					item.count++;
				};

				$scope.decrease = function (item) {
					if (item.count > 0) {
						item.count--;
					}
				};

				$scope.remove = function (item) {
					$scope.goods = $scope.goods.filter(function (it) {
						return it != item;
					});
				};
				
				$scope.checkAll = function() {
					$scope.goods.forEach(function (it) {
						it.$checked = $scope.$allChecked;
					});
				};
				
				$scope.checkItem = function(item) {
					$scope.$allChecked = $scope.goods.every(function(it) {
						return it.$checked;
					});
				};
				
				$scope.$watchCollection("goods", function(val) {
					$scope.$allChecked = $scope.goods.every(function(it) {
						return it.$checked;
					});
				});
				
				$scope.someChecked = function() {
					return $scope.goods.some(function(it) {
						return it.$checked;
					});
				};

				$scope.total = function () {
					return $scope.goods.reduce(function(prev, next) {
						return prev + next.count * next.price;
					}, 0);
				};
				
				$scope.totalToPay = function () {
					return $scope.goods.reduce(function(prev, next) {
						return next.$checked ? prev + next.count * next.price : prev;
					}, 0);
				};
			}]);
	</script>

</body>

</html>